<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Data Nascimento</th>
            <th>Data Cadastro</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <td> {{ cliente.nome }} </td>
            <td> {{ cliente.cpf }} </td>
            <td> {{ cliente.dataNascimento }} </td>
            <td> {{ cliente.dataCadastro }} </td>
            <td> <button (click)="delete(cliente.id)">delete</button> </td>
        </tr>
    </tbody>
</table>
<br>
<br>
<br>

<form action="" [formGroup]="clienteBuilder" (ngSubmit)="create()">
    <input type="text" formControlName="nome" placeholder="Digite o nome">
    <br>
    <input type="text" formControlName="cpf" placeholder="Digite o Cpf">
    <br>
    <input type="text" formControlName="dataNascimento" placeholder="Digite a Data Nascimento">
    <br>
    <button type="submit" >SALVAR</button>
</form>